body {
  padding: 24px, 156px;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 24px;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item:hover {
  transform: scale(1.0444);
}
.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
